<div class="tag-show">
  <h2>{{ tag.name }}</h2>
  
  <div v-for="recipe in tag.recipes">
    <router-link v-bind:to="`/recipes/${recipe.id}`">
      <h3>{{ recipe.name }}</h3>
    </router-link>
  </div>

  <button v-on:click="editTag(tag)">edit tag</button>

  <dialog id="tag-details">
    <form method="dialog">
      <h1>Edit Tag</h1>
      <p>Name: <input type="text" v-model="tag.name"></p>
      <button v-on:click="updateTag(tag)">update</button>
      <button v-on:click="destroyTag(tag)">delete</button>
      <button>close</button>
    </form>
  </dialog>

</div>